name: Format

on:
  pull_request:
    branches: [ "master" ]
    paths:
      - '**.cs'

jobs:
  run-dotnet-format:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Run dotnet format
      uses: wearerequired/lint-action@v2
      with:
        dotnet_format: true
