name: Format

on:
  pull_request:
    branches: [ "master" ]
    paths:
      - '**.cs'

jobs:
  run-dotnet-format:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10.0.x
    - name: Run dotnet format
      uses: wearerequired/lint-action@v2
      with:
        dotnet_format: true
